.header {
  width: 100vw;
  height: 8vh;
  background-color: rgba(60, 179, 114, 0.557);
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
}

.header-dark {
  background-color: black;
  color: white;
}

.toggle {
  position: absolute;
  height: 2vh;
  top: calc(50% - 1vh);
  right: 25px;
  display: flex;
  align-items: center;
}

.login-form {
  padding: 10px;
  display: flex;
  align-items: center;
}

.input-dark {
  background-color: dimgray;
  color: white;
}

.input-dark::placeholder {
  color: white;
}

button {
  padding: 5px;
  border-radius: 5px;
  margin: 0 10px;
}

.button-dark {
  background-color: dimgrey;
  color: white;
}
